<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
    body,html{
          font-family: "Sansita Swashed", system-ui;
    }
    </style>
</head>
<body class="w-full h-full bg-black">
    <div class="text-white w-screen h-screen flex items-center justify-center">
        <div class="w-[30%] py-4 border-2 border-violet-400 rounded-xl bg-gray-800 items-center flex flex-col gap-4 ">
             <h2 class="text-3xl text-center ">Start Planning Today</h2>
            <p class="text-center">Boost your productivity and stay organized.</p>
            <h2>Register. </h2>
        <form action="" class=" flex  flex-col gap-4 ">
        <label for="username">User name: </label>
        <input type="text" class="bg-transparent border rounded-xl py-2 px-2 ">
        <label for="username">Password: </label>
        <input type="password" class="bg-transparent border rounded-xl py-2 px-2">
        <button class="bg-violet-500 px-3 py-4 rounded-3xl hover:bg-violet-800 border border-2 border-gray-400">Sign Up</button>
        </form>
        </div>
    </div>
</body> 
</html>